/* Center the page */
body{
    margin: 40px auto;
    max-width: 600px;
    padding: 0 10px
}

/* Establish font for the entire website */
button, input, select, div{
    line-height: 1.6;
    font-size: 18px;
    color: #444;
}

/* Create a border around the root of width x px */
.root {
    border-style: solid;
    padding-bottom: 20px;
    width: 600px;
}

.header {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.three-section {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.one-section {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.item {
    display: block;
}

#loading {
    text-align: center;
}