/* Center the page */
body{
    margin: 40px auto;
    max-width: 600px;
    padding: 0 10px
}

/* Establish font for the entire website */
button, input, select, div{
    line-height: 1.6em;
    font-size: 18px;
    color: #444;
}

/* Create a border around the root of width x px */
.root {
    border-style: solid;
    padding-bottom: 20px;
}

.header {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.three-section {
    display: grid;
	grid-template-columns: 34% 33% 33%;
    grid-template-rows: auto;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.item {
    display: block;
}

.icon{
    height: 1.6em;
    display: block;
}

.one {
    display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}